@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



@tailwind base;



a:hover, a:active{
    background-color: greenyellow;
    -webkit-tap-highlight-color: transparent;

}

/* ::selection {
    color: red;
    background: yellow;
  } */


figure {
    display: inline-block;
    border: 0.5px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
    padding: 1rem 5rem;
}
figure figcaption {
    border-top: 0.5px dotted gray;
    text-align: center;
}
/* p {
    margin: 20px 0;
} */



@tailwind components;
@tailwind utilities;